*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pyc
*.ipynb_checkpoints

Code/__pycache__
Examples/__pycache__
model_checker/package/__pycache__
model_checker/dist
model_checker/model_checker.egg-info
model_checker/model_checker.egg-info
model_checker/modules/__pycache__
model_checker/examples/__pycache__
model_checker/package/modules/__pycache__
Code/dist
Code/examples/__pycache__
Code/src/model_checker/__pycache__
Code/src/model_checker.egg-info
Code/src/model_checker/.pylintrc
Overview/Overview.pdf
Code/test/__pycache__
profile_results
Design
Meetings
Old
s10988-023-09407-z.pdf
Code/src/new_checker/__pycache__/exposed_things.cpython-312.pyc
Code/src/new_checker/__pycache__/hidden_helpers.cpython-312.pyc
Code/.venv

# Ignore all directories named 'notes' anywhere in the repository
**/notes/
**/specs/
Code/src/model_checker/builder/notes_
*.ipynb_checkpoints
Code/ARCHITECTURE.md
Code/DEVELOPMENT.md
Code/STYLE_GUIDE.md
Code/src/model_checker/theory_lib/imposition/talk/handout.out
Code/src/model_checker/theory_lib/imposition/talk/handout.pdf
