*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.log
*.synctex.gz
*.pyc
*.ipynb_checkpoints

**/dist
**/model_checker.egg-info
**/.pylintrc
Overview/Overview.pdf
profile_results
Design
Meetings
Old
s10988-023-09407-z.pdf
Code/src/new_checker/__pycache__/exposed_things.cpython-312.pyc
Code/src/new_checker/__pycache__/hidden_helpers.cpython-312.pyc
Code/.venv

**/notes/
**/specs/
**/__pycache__/
